body{
  width: 100vw;
  width: 100vh;
  margin: 0;
}

canvas{
  background-image: url('images/space.jpeg');
  background-size: cover;
  background-position: left;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
  /* -webkit-filter: grayscale(100%); */
  /* filter: grayscale(100%); */
}

.progress-bar, .progress{
  z-index:0;
}
